@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Quicksand:wght@300..700&display=swap');

:root {
    --dark-blue: #030637;
    --preto: #0a0a0a;
    --white: #F5F3F5;
    --pink: #FF1053;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
}

html, body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

#sparkles {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
}

main {
    width: 100%;
}

section {
    min-height: 100vh;
    position: relative;
    z-index: 2;
    padding: 45px;
}

a {
    text-decoration: none;
}


/* Efeito de céu estrelado */

.stars {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 1px;
    width: 1px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: -41vw -44vh 2px 2px #fff,45vw -17vh 3px 2px #fff,36vw 31vh 3px 2px #fff,3vw -27vh 2px 2px #fff,38vw -9vh 2px 2px #fff,25vw -22vh 2px 2px #fff,4vw 34vh 3px 2px #fff,39vw -30vh 3px 2px #fff,3vw 33vh 2px 2px #fff,-26vw -28vh 2px 2px #fff,7vw -42vh 2px 2px #fff,36vw 8vh 3px 2px #fff,-32vw 46vh 2px 2px #fff,23vw 36vh 3px 2px #fff,43vw -10vh 3px 2px #fff,3vw -29vh 3px 2px #fff,4vw 23vh 3px 2px #fff,-48vw 12vh 2px 2px #fff,3vw -4vh 3px 2px #fff,25vw 38vh 2px 2px #fff,-48vw 41vh 2px 2px #fff,-33vw 6vh 2px 2px #fff,-6vw -32vh 3px 2px #fff,-18vw -31vh 3px 2px #fff,-29vw -12vh 2px 2px #fff,-6vw 23vh 2px 2px #fff,33vw -6vh 2px 2px #fff,-39vw 45vh 2px 2px #fff,34vw 31vh 2px 2px #fff,-42vw 4vh 3px 2px #fff,-13vw 35vh 2px 2px #fff,-50vw -45vh 2px 2px #fff,-19vw 0vh 2px 2px #fff,-8vw -36vh 3px 2px #fff,-20vw -20vh 2px 2px #fff,33vw -12vh 3px 2px #fff,-42vw -25vh 2px 2px #fff,-31vw -42vh 2px 2px #fff,40vw -30vh 3px 2px #fff,47vw 35vh 2px 2px #fff,26vw 32vh 3px 2px #fff,-23vw -31vh 3px 2px #fff,37vw -20vh 2px 2px #fff,37vw -3vh 3px 2px #fff,34vw -9vh 3px 2px #fff,-41vw 7vh 2px 2px #fff,43vw 31vh 3px 2px #fff,25vw -1vh 3px 2px #fff,-46vw -7vh 2px 2px #fff,-8vw 18vh 3px 2px #fff;
    box-shadow: -39vw 17vh 3px 1px #fff,20vw -43vh 3px 1px #fff,15vw -35vh 4px 1px #fff,-18vw -32vh 1px 1px #fff,49vw 13vh 1px 1px #fff,47vw 15vh 1px 1px #fff,24vw -46vh 3px 1px #fff,-7vw -23vh 1px 1px #fff,-2vw 44vh 4px 1px #fff,-41vw 42vh 2px 1px #fff,1vw 32vh 1px 1px #fff,-20vw -1vh 2px 1px #fff,-44vw 28vh 2px 1px #fff,50vw -33vh 4px 1px #fff,35vw -36vh 3px 1px #fff,-31vw 20vh 3px 1px #fff,-38vw 44vh 4px 1px #fff,14vw -19vh 1px 1px #fff,49vw -17vh 4px 1px #fff,-22vw -18vh 4px 1px #fff,17vw -33vh 2px 1px #fff,8vw 31vh 1px 1px #fff,-41vw 35vh 1px 1px #fff,-2vw 32vh 3px 1px #fff,-21vw 40vh 2px 1px #fff,27vw 16vh 3px 1px #fff,-32vw -50vh 2px 1px #fff,-41vw -2vh 1px 1px #fff,-26vw -42vh 3px 1px #fff,-32vw -41vh 3px 1px #fff,32vw 22vh 3px 1px #fff,21vw -39vh 1px 1px #fff,47vw 5vh 4px 1px #fff,-49vw -14vh 2px 1px #fff,-36vw -10vh 2px 1px #fff,-31vw -12vh 4px 1px #fff,3vw -15vh 2px 1px #fff,-47vw -31vh 4px 1px #fff,-21vw -20vh 2px 1px #fff,-26vw -22vh 2px 1px #fff,33vw 0vh 3px 1px #fff,8vw 30vh 2px 1px #fff,-1vw -24vh 1px 1px #fff,33vw -38vh 3px 1px #fff,34vw -21vh 4px 1px #fff,-28vw -6vh 4px 1px #fff,-48vw 16vh 4px 1px #fff,-50vw -44vh 4px 1px #fff,-49vw 46vh 3px 1px #fff,21vw -22vh 4px 1px #fff,-4vw 36vh 3px 1px #fff,-8vw -30vh 4px 1px #fff,45vw -25vh 3px 1px #fff,-28vw 40vh 2px 1px #fff,-32vw 11vh 4px 1px #fff,24vw 24vh 2px 1px #fff,11vw 38vh 3px 1px #fff,36vw -1vh 4px 1px #fff,48vw 42vh 1px 1px #fff,-49vw -37vh 1px 1px #fff,1vw -16vh 4px 1px #fff,-15vw 33vh 1px 1px #fff,10vw -25vh 2px 1px #fff,-18vw -45vh 2px 1px #fff,-21vw 41vh 1px 1px #fff,19vw 25vh 1px 1px #fff,8vw -23vh 2px 1px #fff,37vw 2vh 2px 1px #fff,-42vw -10vh 1px 1px #fff,-30vw -50vh 1px 1px #fff,-9vw -9vh 3px 1px #fff,-26vw 10vh 2px 1px #fff,15vw -30vh 2px 1px #fff,-4vw 7vh 3px 1px #fff,-45vw 13vh 1px 1px #fff,28vw 6vh 2px 1px #fff,6vw -28vh 1px 1px #fff,-30vw -43vh 4px 1px #fff,-14vw -9vh 3px 1px #fff,-19vw 43vh 1px 1px #fff,25vw 4vh 2px 1px #fff,-37vw -2vh 3px 1px #fff,-23vw -3vh 4px 1px #fff,2vw 2vh 2px 1px #fff,-12vw -41vh 2px 1px #fff,4vw 26vh 1px 1px #fff,-37vw -13vh 3px 1px #fff,32vw -13vh 4px 1px #fff,13vw -50vh 2px 1px #fff,-30vw 40vh 1px 1px #fff,-8vw 17vh 3px 1px #fff,-43vw -43vh 2px 1px #fff,17vw 33vh 1px 1px #fff,40vw -12vh 1px 1px #fff,12vw 41vh 2px 1px #fff,-43vw -32vh 1px 1px #fff,-11vw 23vh 2px 1px #fff,-20vw 19vh 4px 1px #fff,19vw 17vh 3px 1px #fff,47vw 4vh 3px 1px #fff;
    animation: zoom 10s alternate infinite;
}

@keyframes zoom {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
}

/* Menu */

nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 4;
    display: flex;
    justify-content: end;
    width: 100vw;
    background: linear-gradient(0deg, var(--preto) 0%, var(--dark-blue) 100%);
}

.nav * {
    transition: all .35s ease;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 25px 45px;
}

nav ul li {
    margin-left: 30px;
}

nav a {
    font-size: 1.3em;
    color: var(--white);
    padding: 10px;
    margin-left: 30px;

}

nav a:hover{
    border-bottom: 1px solid var(--white);
}

nav svg {
    color: var(--white);
    width: 2.2em;
    margin: 25px 45px;
    display: none;
}


#close-menu{
    width: 2.4em;        
}

/* Header */

header {
    background: linear-gradient(0deg, var(--preto) 0%, var(--dark-blue) 100%);
    height: 100vh;
    color: var(--white);
    position: relative;
}


#title-name {
    position: absolute;
    bottom: 0;
    margin: 45px;
}

h1 {
    font-family: "Gloria Hallelujah", cursive;
    font-size: 4em;
}

h2 {
    font-size: 2.5em;
}


/* About */

#about {
    background-color: var(--dark-blue);
    display: flex;
    flex-wrap: wrap;
    color: var(--white);
}

.col-1 {
    width: 35%;
    padding: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square-container {
    width: 100%;
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
    border-radius: 50%;
}

#profile {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border-left: 0.6em solid white;
    border-bottom: 0.6em solid white;
    border-right: 0.6em dotted white;
    border-top: 0.6em dotted white;
}

.col-2 {
    width: 65%;
    display: flex;
    align-items: center;
}

h3 {
    font-family: "Gloria Hallelujah", cursive;
    font-size: 3em;
    margin-bottom: 20px;
}

.icones {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.icone {
    margin: 0 30px;
    color: rgba(255, 255, 255, 0.5);
}

.icone:hover {
    filter: drop-shadow(0 0 10px var(--white));
}

p {
    text-align: start;
    text-indent: 2em;
    font-size: 1.3em;
    margin-bottom: 10px;
}


/* Technologies */

#technologies {
    background: rgb(2, 3, 11);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 45px 0;
}

.item {
    width: 180px;
    height: 180px;
    padding: 35px;
    border-radius: 30px;
    background: var(--white);
    margin: 10px;
}

.card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.item:hover .card {
    transform: rotateY(180deg);
}

.item:hover {
    filter: brightness(0.9)
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.front {
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
}

.tech-name {
    font-size: 24px;
    color: var(--preto);
}

/* Projects */

#projects {
    background: var(--dark-blue);
}

#projects h3 {
    color: var(--white);
    width: 900px;
    margin: auto;
}

.slide {
    display: none;
}

.slideshow-container {
    width: 1000px;
    position: relative;
    margin: auto;
}

.project {
    background: var(--white);
    border-radius: 40px;
    width: calc(100% - 80px);
    height: 80vh;
    max-height: 650px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.slide:nth-child(1) .project-image{
    background: url('../images/prudente-casa-pet.png');
}


.project-image {
    border-radius: 40px 0 0 40px;
    width: 50%;
    background-size: cover;
    background-position: center center;
}


.project-info {
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4 {
    font-size: 2.2em;
    margin-bottom: 20px;
}

.project p {
    margin-bottom: 20px;
    font-size: 1.2em;
}

.project strong {
    font-size: 1.0em;
}

.project a {
    position: absolute;
    bottom: 45px;
    padding: 12px 30px;
    border-radius: 25px;
    background: var(--pink);
    color: var(--white);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.project a:hover {
    filter: brightness(1.5);
}


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 25px;
    color: var(--white);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 5px;
    user-select: none;
    text-align: center;
}

.prev{
    left: 0;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}


/* Contact */

#contacts {
    background: #010E21;
    background: url('../images/galaxy.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#contacts h3 {
    margin-bottom: 45px;
}

form {
    display: flex;
    flex-direction: column;
    width: 600px;
}

input, textarea {
    padding: 10px 12px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.886);
}

input:focus, textarea:focus {
    outline: none;
    border: none;
}

textarea {
    resize: none;
    height: 150px;
}

textarea::-webkit-scrollbar {
    width: 8px;
}

textarea::-webkit-scrollbar-track {
    background: var(--white);
}

textarea::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

textarea::-webkit-scrollbar-thumb:hover {
    background: #555;
}

button {
    padding: 12px 12px;
    border-radius: 10px;
    background: var(--pink);
    color: var(--white);
    font-weight: bold;
    margin-bottom: 45px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

button:hover {
    filter: brightness(1.5);
}

#contacts .icone {
    margin: 0 30px;
    color: rgba(255, 255, 255, 0.7);
}

/* Responsividade */

@media (max-width:1150px) {
    /* About */
    .col-1 {
        padding: 10px 20px 10px 10px;
    }
    
    /* Projects */
    #projects h3 {
        width: 90vw;
    }
    .slideshow-container{
        width: 90vw;
    }
}

/* About */
@media (max-width:1024px) {
    .col-1, .col-2 {
        width: 100%;
    }

    .square-container {
        width: 50%;
        padding-bottom: 50%;
    }
}

/* Projects */
@media (max-width:1015px) {
    .project{
        height: 65vh;
    }
    .project-info {
        width: 100%;
    }
    .project-image {
        display: none;
    }
}
@media (max-width:945px) {
    #projects {
        padding-left: 20px;
        padding-right: 20px;
    }
    .project, .slide, .slideshow-container{
        width: 100%;
    }
    .next {
        right: 3px;
    }
    .prev {
        left: 3px;
    }

    .prev, .next {
        color: #555;
    }
}

/* General */
@media (max-width:885px) {
    * {
        font-size: 14px;
    }    
}

@media (max-width:773px) {
    * {
        font-size: 12px;
    }
    /* About */
    .col-2 {
        height: min-content;
    }
}

/* Menu */
@media (max-width:692px) {
    .visible {
        display: block;
    }
    nav ul {
        margin: 0;
        flex-direction: column;
        position: fixed;
        top: 72px;
        width: 220px;
        max-width: 100%;
        background: rgba(0, 0, 0, 0.9);
        height: 100vh;
        padding: 0;
        margin: 0;
        display: none;
    }

    nav ul li {
        padding: 0;
        margin: 0;
    }
    nav ul li a {
        display: block;
        font-size: 2em;
        padding: 10px 15px;
        margin: 0;
    }
    nav ul li a:hover {
        border: none;
        color: #555
    }
}

@media (max-width:690px) {
    /* Technologies */
    .items {
        margin: 35px 0;
    }
    .item {
        width: 150px;
        height: 150px;
        padding: 35px;
        border-radius: 30px;
        margin: 8px;
    }

    /* Contacts */
    form {
        width: 90vw;
    }
}

/* General */
@media (max-width:617px) {
    * {
        font-size: 10px;
    }
}

/* Technologies */
@media (max-width:600px) {
    .items {
        margin: 25px 0;
    }
    
    .item {
        width: 140px;
        height: 140px;
        padding: 25px;
        border-radius: 20px;
        margin-bottom: 15px;
    }
}

@media (max-width: 570px){
    #technologies {
        padding-left: 10px;
        padding-right: 10px;
    }
    .items {
        margin: 5px 0;
    }
    .item {
        padding: 25px;
        border-radius: 20px;
        margin: 5px;
    }
}

/* About */

@media (max-width:530px) {
    .square-container {
        width: 75%;
        padding-bottom: 75%;
    }
}

@media (max-width:500px) {
    /* Header */
    #title-name {
        margin: 20px;
    }
    /* General */
    h3 {
        text-align: center;
    }
    section {
        padding: 20px;
    }
    #title-name {
        margin: 20px;
    }
    nav ul {
        margin: 15px 20px;
        top: 38px;
        right: -14px;
    }
    nav svg {
        margin: 15px 10px;
    }
    /* Technologies */
    #technologies span {
        font-size: 16px;
    }
    .items {
        margin: 5px 0;
    }
    .item {
        width: 100px;
        height: 100px;
    }
}

/* Technologies */
@media (max-width:380px) {
    .item {
        width: 40vw;
        height: 40vw;
    }
}

@media (max-width:336px) {
    /* Header */
    #title-name {
        margin: 10px;
    }
    h1 {
        font-size: 3rem;
    }
    /* General */
    section {
        padding: 10px;
    }
    #title-name {
        margin: 10px;
    }
    nav ul {
        margin: 15px 10px;
        top: 38px;
        right: -8px;
    }
    nav svg {
        margin: 15px 10px;
    }
}
